name: ship-evt3
prefix: ./env
channels:
  - conda-forge
  - defaults
  - r
dependencies:
  - python>=3.7 # =3.8
  - r
  - rpy2=2.9.4
  - pandas
  - matplotlib
  - jupyter
  - scipy
  - pytest
  - pip
  - pip:
     - thresholdmodeling
     - xlrd
     - openpyxl
     - git+https://github.com/OpenHydrology/lmoments3.git
     - git+https://github.com/sdat2/scikit-extremes.git
