name: shipston
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.8
  - pandas
  - numpy
  - matplotlib
  - scipy
  - jupyter
  - torch>=1.4
  - pip
  - pip:
    - hydra-core
    - pytorch-lightning
    - wandb
