name: shipston
channels:
  - conda-forge
  - defaults
  - pytorch
dependencies:
  - python=3.8
  - pandas
  - numpy
  - matplotlib
  - scipy
  - jupyter
  - pillow
  - pytorch=1.6
  - pip
  - pip:
    - hydra-core
    - pytorch-lightning
    - wandb
